/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden; margin-left: 15%}

/* Global Structure ============================================================= */
.main {margin:0 auto;width:960px;padding:0 6px}
.bg1 {background:url(../images/bg.gif) top center repeat}
.bg2 {background:url(../images/bg_top.png) top center no-repeat}
.bg3 {background:url(../images/footer-background.png) top center repeat}
.box {background:#12110f;box-shadow:0 0 6px #000;-moz-box-shadow:0 0 6px #000;-webkit-box-shadow:0 0 6px #000;position:relative}
#fondoVerde {background: #899d36;}
.busqueda {background:url(../images/footer-background.png) top center repeat}
/* ============================= header ====================== */
header {height:116px}
#logo {display:block;text-indent:-9999px;background:url(../images/logo-couchinn1.pngt) 0 0 no-repeat;width:240px;height:46px}
.department {float:right;padding:37px 35px 0 0;color:#72716f;text-align:right}
.department span {color:#fff}
#menu {background:url(../images/footer-background.png);padding:10px 50px;height:39px;margin-bottom:10px}
#menu > li {border-right:1px solid #f2f2f2;float:left}
#menu .last {border:0}
#menu > li > a {display:block;padding:0 62px;font-size:16px;color:#12110f;text-decoration:none;line-height:39px}
#menu > li > a:hover, #menu > .active > a {color:#f3b21d}

#menu-wrap {padding:0; list-style:none;}
#tab{background-image: url(../images/tabback.png);	background-repeat:none; width: 70%; padding:0px; font-size:20px; margin-top:5px; margin-left:15%; margin-right:15%;}
li ul {	position:absolute; display:none;}
#tab li{ display: inline-block;}
#sub-tab{z-index: 99999;}
#sub-tab li {display: inline;}
#tab li a{display:block;padding: 10px;}
li:hover ul{display:block;	background-image: url(../images/tabback.png);	padding: 10px 20px;}
#tab li a:link {color:##336699;}
#tab li a:visited {	color:#5C7A99;}
#tab li a:hover {background-color:#FFFF91; color:#2E8A2E; padding:5px;}



/* =========== kwiks slider ========= */
.kwicks-wrapper {width:640px;overflow:hidden}
.kwicks {/* recommended styles for kwicks ul container */list-style:none;position:relative;margin:0;padding:0 !important;overflow:hidden;height:414px;background:none}
.kwicks li {/* these are required, but the values are up to you (must be pixel) */width:160px;height:414px;/*do not change these */display:block;overflow:hidden;padding:0 !important; /* if you need padding, do so with an inner div (or implement your own box-model hack) */cursor:pointer;background:none !important;}
.kwicks.horizontal li {/* This is optional and will be disregarded by the script. However, it should be provided for non-JS enabled browsers. */margin-right:0;/*Set to same as spacing option. */	float:left}


/* ============================= Body ====================== */
.imagen {max-width: 400px;max-height: 400px;}
.imagen_lista {max-width: 100px;max-height: 100px;}
#publicacion {max-width: 400px;max-height: 400px;background: #899d36;}
#listado {text-align:center;}

/*modificar*/

#fondo {color:#FFFFFF;text-align:center}
#registrar {background:url(../images/footer-background.png);padding:10px 15px;height:20px;margin-bottom:10px;}
#registrar > a {display:block;padding:0.90px;font-size:24px;color:#000000;text-align:center; text-decoration:none;line-height:20px}
#in {background:url(../images/footer-background.png);padding:10px 15px;height:20px;margin-bottom:10px;}
#in > a {text-align:left; text-decoration:none; line-height:0px}


/* ================ Footer =============== */
.foot {background:url(../images/footer-background.png) top center}
#pie {padding:10px 2px;height:39px;margin-bottom:10px}

/*.pad_bot1 {padding-bottom:10px}
.pad_bot2 {padding-bottom:24px}
.pad_bot3 {padding-bottom:14px}
.pad_left1 {padding-left:70px}
.pad_left2 {padding-left:80px}
.pad {padding:20px 0 39px 40px}
.box1 .pad {padding:20px 0 15px 30px}
.marg_right1 {margin-right:20px}
.line1 {background:url(../images/line_vert1.gif) 280px 0 repeat-y}
.line2 {background:url(../images/line_vert1.gif) 600px 0 repeat-y;padding-bottom:7px}
.line3 {background:url(../images/line_vert2.gif) 600px 0 repeat-y;padding-bottom:11px}
.color1 {color:#f3b21d}
.color2 {color:#fff}
.color3 {color:#000}
figure {padding-top:4px}
.list1 {}
.list1 li {line-height:24px}
.list1 a {color:#f3b21d;padding-left:15px;background:url(../images/marker_1.gif) 0 5px no-repeat}
.list2 {border-top:1px solid #f2f2f2;margin-top:-2px;padding-bottom:21px}
.list2 li {line-height:23px;border-bottom:1px solid #f2f2f2;padding:0 6px;color:#000}
.list2 span {float:right}*/

/* =============================== */

